@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.requestDiv {
    min-height: 130vh;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.inclusiveDataDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;  
    justify-content: center; 
}


.datasDiv {
    border: 2px solid #606060;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    width: 400px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow-wrap: break-word;
}

.title {
    font-size: x-large;
    margin-top: -10px;
}

.datasDiv h1 {
    color: #606060;
}

.datasDiv p {
    color: #A0A0A0;
}



.requestArea {
    resize: none;
    width: 500px;
    outline: none;
    border: none;
    border: 2px solid #c0c0c0;
    border-radius: 10px;
}

.requestArea:focus {
    border: 3px solid #606060;
    border-radius: 10px 10px 0 0;
}

.titleInput {
    height: 50px;
    border-radius: 10px;
    /* position: absolute;
    left: ; */
}


.submitButton {
    border: none;
    border: 2px solid #606060;
    font-size: 1.9em;
    margin-top: 10px;
    cursor: pointer;
}


.submitButton:hover {
    box-shadow: 2px 2px 2px 2px rgba(55, 55, 55 ,1.2);
    transition: box-shadow 300ms ease-in-out;
    border: none;
}


.reqDesc {
    margin-top: 10px;
}

.deleteButton {
    width: 100px;
    padding: 10px;
    border: none;
    border: 2px solid #c0c0c0;
    border-radius: 10px;

}
.deleteButton:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
    box-shadow: 2px 2px 2px 2px rgba(55, 55, 55 ,1.2);
    border: 10px;
}
